# Copyright 2025 Cisco Systems Inc.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.

openapi: 3.0.3
info:
  description: Webex calling API specifications
  title: All Webex calling API
  version: 1.0.0
servers:
- url: https://webexapis.com/v1/
paths:
  /telephony/config/locations/{locationId}/callPickups:
    get:
      description: |-
        List all Call Pickups for the organization.

        Call Pickup enables a user (agent) to answer any ringing line within their pickup group.

        Retrieving this list requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.

        **NOTE**: The Call Pickup ID will change upon modification of the Call Pickup name.
      operationId: Read the List of Call Pickups
      parameters:
      - description: Return the list of call pickups for this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzEyMzQ1
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: List call pickups for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of call pickups returned to this maximum count.
          Default is 2000.
        example: "5"
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: number
        style: form
      - description: Start at the zero-based offset in the list of matching call pickups.
          Default is 0.
        example: "0"
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - description: "Sort the list of call pickups by name, either ASC or DSC. Default\
          \ is ASC."
        example: ASC
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: Return the list of call pickups that contains the given name.
          The maximum length is 80.
        example: Alaska-Group
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                callPickups:
                - name: North Alaska-Group
                  id: Y2lzY29zcGFyazovL3VzL0NBTExfUElDS1VQL1kyRnNiRkJwWTJ0MWNERT0
                  locationName: Alaska
                  locationId: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzEyMzQ1
                - name: South Alaska-Group
                  id: Y2lzY29zcGFyazovL3VzL0NBTExfUElDS1VQL1kyRnNiRkJwWTJ0MWNEST0
                  locationName: Alaska
                  locationId: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzEyMzQ1
              schema:
                $ref: '#/components/schemas/Read_the_List_of_Call_Pickups_200_response'
          description: OK
      summary: Read the List of Call Pickups
      tags: []
      x-accepts:
      - application/json
    post:
      description: |-
        Create new Call Pickups for the given location.

        Call Pickup enables a user (agent) to answer any ringing line within their pickup group.

        Creating a call pickup requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.

        **NOTE**: The Call Pickup ID will change upon modification of the Call Pickup name.
      operationId: Create a Call Pickup
      parameters:
      - description: Create the call pickup for this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzhmZjMwMjg5LWVhMzMtNDc1Ny1iMTBmLWQ2MWIyNzFhMDVlZg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Create the call pickup for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: South Alaska-Group
              notificationType: AUDIO_ONLY
              notificationDelayTimerSeconds: 20
              agents:
              - Y2lzY29zcGFyazovL3VzL1BFT1BMRS80YTc2ZmVmNC1mZjlmLTExZWItYWYwZC00M2YwZjY1NTdjYWI
              - Y2lzY29zcGFyazovL3VzL1BMQUNFLzU1YjUyZThhLWZmOWYtMTFlYi05ZjRhLTAzZDY1NzdhYzg1Yg
              - Y2lzY29zcGFyazovL3VzL1ZJUlRVQUxfTElORS85ODFlNTQ0Yy0xOGI0LTQ2MzItYmFkZi1iYWMwZjFkOGJkYWY=
            schema:
              $ref: '#/components/schemas/Create_a_Call_Pickup_request'
      responses:
        "201":
          content:
            application/json:
              example:
                id: Y2lzY29zcGFyazovL3VzL0NBTExfUElDS1VQL1kyRnNiRkJwWTJ0MWNEST0
              schema:
                $ref: '#/components/schemas/Create_a_Call_Pickup_201_response'
          description: Created
      summary: Create a Call Pickup
      tags: []
      x-content-type: application/json
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/callPickups/{callPickupId}:
    delete:
      description: |-
        Delete the designated Call Pickup.

        Call Pickup enables a user (agent) to answer any ringing line within their pickup group.

        Deleting a call pickup requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.

        **NOTE**: The Call Pickup ID will change upon modification of the Call Pickup name.
      operationId: Delete a Call Pickup
      parameters:
      - description: Location from which to delete a call pickup.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzEyMzQ1
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Delete the call pickup with the matching ID.
        example: Y2lzY29zcGFyazovL3VzL0NBTExfUElDS1VQL1kyRnNiRkJwWTJ0MWNEST0
        explode: false
        in: path
        name: callPickupId
        required: true
        schema:
          type: string
        style: simple
      - description: Delete the call pickup from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Delete a Call Pickup
      tags: []
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieve the designated Call Pickup details.

        Call Pickup enables a user (agent) to answer any ringing line within their pickup group.

        Retrieving call pickup details requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.

        **NOTE**: The Call Pickup ID will change upon modification of the Call Pickup name.
      operationId: Get Details for a Call Pickup
      parameters:
      - description: Retrieve settings for a call pickup in this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzhmZjMwMjg5LWVhMzMtNDc1Ny1iMTBmLWQ2MWIyNzFhMDVlZg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Retrieve settings for a call pickup with the matching ID.
        example: Y2lzY29zcGFyazovL3VzL0NBTExfUElDS1VQL1kyRnNiRkJwWTJ0MWNEST0
        explode: false
        in: path
        name: callPickupId
        required: true
        schema:
          type: string
        style: simple
      - description: Retrieve call pickup settings from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: Y2lzY29zcGFyazovL3VzL0NBTExfUElDS1VQL1kyRnNiRkJwWTJ0MWNEST0
                name: South Alaska-Group
                notificationType: AUDIO_ONLY
                notificationDelayTimerSeconds: 20
                agents:
                - id: Y2lzY29zcGFyazovL3VzL1BFT1BMRS80NDVkMzMzMC1mNjE3LTExZWItOWQyZS01NzViODE3ZGE2NmE
                  firstName: John
                  lastName: Brown
                  displayName: johnBrown
                  type: PEOPLE
                  email: john.brown@example.com
                  numbers:
                  - external: "+19075552859"
                    extension: "8080"
                    routingPrefix: "1234"
                    esn: "12348080"
                    primary: "true"
                - id: Y2lzY29zcGFyazovL3VzL1BFT1BMRS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc1MWQ
                  firstName: Christian
                  lastName: Smith
                  displayName: ChristianS
                  type: PEOPLE
                  email: christians@example.com
                  numbers:
                  - external: "+19075553859"
                    extension: "8081"
                    routingPrefix: "1234"
                    esn: "12348080"
                    primary: "true"
                - id: Y2lzY29zcGFyazovL3VzL1ZJUlRVQUxfTElORS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc3OGg=
                  firstName: Alice
                  lastName: Smith
                  displayName: AliceSmith
                  type: VIRTUAL_LINE
                  numbers:
                  - external: "+19075552859"
                    extension: "8083"
                    routingPrefix: "1234"
                    esn: "12348080"
                    primary: "true"
              schema:
                $ref: '#/components/schemas/Get_Details_for_a_Call_Pickup_200_response'
          description: OK
      summary: Get Details for a Call Pickup
      tags: []
      x-accepts:
      - application/json
    put:
      description: |-
        Update the designated Call Pickup.

        Call Pickup enables a user (agent) to answer any ringing line within their pickup group.

        Updating a call pickup requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.

        **NOTE**: The Call Pickup ID will change upon modification of the Call Pickup name.
      operationId: Update a Call Pickup
      parameters:
      - description: Location in which this call pickup exists.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzhmZjMwMjg5LWVhMzMtNDc1Ny1iMTBmLWQ2MWIyNzFhMDVlZg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Update settings for a call pickup with the matching ID.
        example: Y2lzY29zcGFyazovL3VzL0NBTExfUElDS1VQL1kyRnNiRkJwWTJ0MWNEST0
        explode: false
        in: path
        name: callPickupId
        required: true
        schema:
          type: string
        style: simple
      - description: Update call pickup settings from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: South Alaska-Group
              notificationType: AUDIO_ONLY
              notificationDelayTimerSeconds: 20
              agents:
              - Y2lzY29zcGFyazovL3VzL1BFT1BMRS82YTUwMDk1YS1mZjlmLTExZWItODA2NS04ZjhkOWIxNmIzOTQ
              - Y2lzY29zcGFyazovL3VzL1BMQUNFLzg0YjQ1OTIyLWZmOWYtMTFlYi1hNGI4LTMzNjI3YmVkNjdiNQ
              - Y2lzY29zcGFyazovL3VzL1ZJUlRVQUxfTElORS85ODFlNTQ0Yy0xOGI0LTQ2MzItYmFkZi1iYWMwZjFkOGJkYWY=
            schema:
              $ref: '#/components/schemas/Update_a_Call_Pickup_request'
      responses:
        "200":
          content:
            application/json:
              example:
                id: Y2lzY29zcGFyazovL3VzL0NBTExfUElDS1VQL1kyRnNiRkJwWTJ0MWNEST0
              schema:
                $ref: '#/components/schemas/Update_a_Call_Pickup_200_response'
          description: OK
      summary: Update a Call Pickup
      tags: []
      x-content-type: application/json
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/callPickups/availableUsers:
    get:
      description: |-
        Retrieve available agents from call pickups for a given location.

        Call Pickup enables a user (agent) to answer any ringing line within their pickup group.

        Retrieving available agents from call pickups requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.
      operationId: Get available agents from Call Pickups
      parameters:
      - description: Return the available agents for this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzhmZjMwMjg5LWVhMzMtNDc1Ny1iMTBmLWQ2MWIyNzFhMDVlZg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Return the available agents for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: Only return available agents from call pickups with the matching
          name.
        example: North Alaska-Pickup
        explode: true
        in: query
        name: callPickupName
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of available agents returned to this maximum
          count.
        example: "5"
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: number
        style: form
      - description: Start at the zero-based offset in the list of matching available
          agents.
        example: "0"
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - description: Only return available agents with the matching name.
        example: John
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Only return available agents with the matching primary number.
        example: "9075552334"
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: "Order the available agents according to the designated fields.\
          \ Up to three vertical bar (|) separated sort order fields may be specified.\
          \ Available sort fields: `fname`, `lname`, `extension`, `number`."
        example: lname|fname|number
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                agents:
                - id: Y2lzY29zcGFyazovL3VzL1BFT1BMRS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc1MWQ
                  lastName: Ronnie
                  firstName: Coleman
                  displayName: RColeman
                  type: PEOPLE
                  email: r.coleman@mailinator.com
                  numbers:
                  - external: "+19075552334"
                    extension: "8083"
                    routingPrefix: "1234"
                    esn: "12348083"
                    primary: "true"
                - id: Y2lzY29zcGFyazovL3VzL1BMQUNFLzg0YjQ1OTIyLWZmOWYtMTFlYi1hNGI4LTMzNjI3YmVkNjdiNQ
                  lastName: Owen
                  firstName: Wilson
                  displayName: OWilson
                  type: PEOPLE
                  email: o.wilson@mailinator.com
                  numbers:
                  - external: "+19075555859"
                    extension: "8084"
                    routingPrefix: "1234"
                    esn: "12348084"
                    primary: "true"
                - id: Y2lzY29zcGFyazovL3VzL1ZJUlRVQUxfTElORS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc3OGg=
                  firstName: Alice
                  lastName: Smith
                  displayName: AliceSmith
                  type: VIRTUAL_LINE
                  numbers:
                  - external: "+19075552859"
                    extension: "8086"
                    routingPrefix: "1234"
                    esn: "12348086"
                    primary: "true"
              schema:
                $ref: '#/components/schemas/Get_available_agents_from_Call_Pickups_200_response'
          description: OK
      summary: Get available agents from Call Pickups
      tags: []
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/singleNumberReach/availableNumbers:
    get:
      description: |-
        List the service and standard PSTN numbers that are available to be assigned as the single number reach's primary phone number.
        These numbers are associated with the location specified in the request URL, can be active or inactive, and are unassigned.

        The available numbers APIs help identify candidate numbers and their owning entities to simplify the assignment or association of these numbers to members or features.

        Retrieving this list requires a full, read-only or location administrator auth token with a scope of `spark-admin:telephony_config_read`.
      operationId: Get Single Number Reach Primary Available Phone Numbers
      parameters:
      - description: Return the list of phone numbers for this location within the
          given organization. The maximum length is 36.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OL2YwYzRhOTcyLWIxNjQtMTFlZS05MWVhLWZiYjliMTkwMjI2Yg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: List numbers for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of phone numbers returned to this maximum count.
          The default is 2000.
        example: "5"
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: number
        style: form
      - description: Start at the zero-based offset in the list of matching phone
          numbers. The default is 0.
        example: "0"
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - description: Filter phone numbers based on the comma-separated list provided
          in the `phoneNumber` array.
        example: "+12056852221,+12056852222"
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                phoneNumbers:
                - phoneNumber: "+12056350001"
                  state: ACTIVE
                  isMainNumber: false
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: false
                  isServiceNumber: false
                - phoneNumber: "+12056350002"
                  state: ACTIVE
                  isMainNumber: true
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: false
                  isServiceNumber: true
                - phoneNumber: "+12056350003"
                  state: INACTIVE
                  isMainNumber: false
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: true
                  isServiceNumber: false
              schema:
                $ref: '#/components/schemas/Get_Single_Number_Reach_Primary_Available_Phone_Numbers_200_response'
          description: OK
      summary: Get Single Number Reach Primary Available Phone Numbers
      tags: []
      x-accepts:
      - application/json
  /telephony/config/huntGroups:
    get:
      description: |-
        List all calling Hunt Groups for the organization.

        Hunt groups can route incoming calls to a group of people or workspaces. You can even configure a pattern to route to a whole group.

        Retrieving this list requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.
      operationId: Read the List of Hunt Groups
      parameters:
      - description: List hunt groups for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: Only return hunt groups with matching location ID.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzMxMTYx
        explode: true
        in: query
        name: locationId
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of objects returned to this maximum count.
        example: "5"
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: number
        style: form
      - description: Start at the zero-based offset in the list of matching objects.
        example: "0"
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - description: Only return hunt groups with the matching name.
        example: Customer Support
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Only return hunt groups with the matching primary phone number
          or extension.
        example: "5558675309"
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                huntGroups:
                - id: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
                  name: "5714328359"
                  locationName: WXCSIVDKCPAPIC4S1
                  locationId: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzMxMTYx
                  routingPrefix: "123"
                  esn: "1239097"
                  enabled: true
                - id: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYVhZd2QySTJNbmM1YWtBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
                  name: bram
                  locationName: Brampton
                  locationId: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzQwMjgw
                  phoneNumber: "5558675309"
                  routingPrefix: "123"
                  esn: "1239097"
                  enabled: true
              schema:
                $ref: '#/components/schemas/Read_the_List_of_Hunt_Groups_200_response'
          description: OK
          headers:
            Link:
              explode: false
              schema:
                type: string
              style: simple
      summary: Read the List of Hunt Groups
      tags: []
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/huntGroups:
    post:
      description: |-
        Create new Hunt Groups for the given location.

        Hunt groups can route incoming calls to a group of people, workspaces or virtual lines. You can even configure a pattern to route to a whole group.

        Creating a hunt group requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.
      operationId: Create a Hunt Group
      parameters:
      - description: Create the hunt group for the given location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzhmZjMwMjg5LWVhMzMtNDc1Ny1iMTBmLWQ2MWIyNzFhMDVlZg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Create the hunt group for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: "5714328359"
              phoneNumber: "5558675309"
              extension: "7781"
              firstName: Hakim
              lastName: Smith
              callPolicies:
                policy: UNIFORM
                waitingEnabled: false
                groupBusyEnabled: true
                allowMembersToControlGroupBusyEnabled: true
                noAnswer:
                  nextAgentEnabled: false
                  nextAgentRings: 5
                  forwardEnabled: false
                  numberOfRings: 0
                  destinationVoicemailEnabled: false
                busyRedirect:
                  enabled: true
                  destination: "7037344404"
                  destinationVoicemailEnabled: true
                businessContinuityRedirect:
                  enabled: true
                  destination: "7037344405"
                  destinationVoicemailEnabled: false
                businessContinuity:
                  enabled: false
                  destinationVoicemailEnabled: false
              agents:
              - id: Y2lzY29zcGFyazovL3VzL1BFT1BMRS80YTc2ZmVmNC1mZjlmLTExZWItYWYwZC00M2YwZjY1NTdjYWI
              - id: Y2lzY29zcGFyazovL3VzL1BMQUNFLzU1YjUyZThhLWZmOWYtMTFlYi05ZjRhLTAzZDY1NzdhYzg1Yg
              - id: Y2lzY29zcGFyazovL3VzL1ZJUlRVQUxfTElORS9kZXRhMXZqeTBsQDY0OTQxMjk3LmludDEwLmJjbGQud2ViZXguY29t
              enabled: true
              huntGroupCallerIdForOutgoingCallsEnabled: true
            schema:
              $ref: '#/components/schemas/Create_a_Hunt_Group_request'
      responses:
        "200":
          content:
            application/json:
              example:
                id: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
              schema:
                $ref: '#/components/schemas/Create_a_Hunt_Group_200_response'
          description: OK
      summary: Create a Hunt Group
      tags: []
      x-content-type: application/json
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/huntGroups/{huntGroupId}:
    delete:
      description: |-
        Delete the designated Hunt Group.

        Hunt groups can route incoming calls to a group of people or workspaces. You can even configure a pattern to route to a whole group.

        Deleting a hunt group requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.
      operationId: Delete a Hunt Group
      parameters:
      - description: Location from which to delete a hunt group.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzMxMTYx
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Delete the hunt group with the matching ID.
        example: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
        explode: false
        in: path
        name: huntGroupId
        required: true
        schema:
          type: string
        style: simple
      - description: Delete the hunt group from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Delete a Hunt Group
      tags: []
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieve Hunt Group details.

        Hunt groups can route incoming calls to a group of people, workspaces or virtual lines. You can even configure a pattern to route to a whole group.

        Retrieving hunt group details requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.
      operationId: Get Details for a Hunt Group
      parameters:
      - description: Retrieve settings for a hunt group in this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzhmZjMwMjg5LWVhMzMtNDc1Ny1iMTBmLWQ2MWIyNzFhMDVlZg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Retrieve settings for the hunt group with this identifier.
        example: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
        explode: false
        in: path
        name: huntGroupId
        required: true
        schema:
          type: string
        style: simple
      - description: Retrieve hunt group settings from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
                name: hgnME3
                enabled: true
                extension: "079999"
                distinctiveRing: true
                alternateNumbers: []
                language: English
                languageCode: en-US
                callingFirstName: "."
                callingLastName: hgnME3
                timeZone: America/Los_Angeles
                callPolicies:
                  policy: UNIFORM
                  waitingEnabled: false
                  groupBusyEnabled: true
                  allowMembersToControlGroupBusyEnabled: true
                  noAnswer:
                    nextAgentEnabled: false
                    nextAgentRings: 5
                    forwardEnabled: false
                    numberOfRings: 0
                    systemMaxNumberOfRing: 20
                    destinationVoicemailEnabled: false
                  busyRedirect:
                    enabled: true
                    destination: "7037344404"
                    destinationVoicemailEnabled: true
                  businessContinuityRedirect:
                    enabled: true
                    destination: "7037344405"
                    destinationVoicemailEnabled: false
                  businessContinuity:
                    enabled: false
                    destinationVoicemailEnabled: false
                agents:
                - id: Y2lzY29zcGFyazovL3VzL1BFT1BMRS80YTc2ZmVmNC1mZjlmLTExZWItYWYwZC00M2YwZjY1NTdjYWI
                  firstName: John
                  lastName: Doe
                  type: PEOPLE
                  phoneNumber: "+15558675310"
                  extension: "7781"
                  routingPrefix: "123"
                  esn: "1237781"
                - id: Y2lzY29zcGFyazovL3VzL1BMQUNFLzg0YjQ1OTIyLWZmOWYtMTFlYi1hNGI4LTMzNjI3YmVkNjdiNQ
                  firstName: Alaska Office
                  lastName: Second Floor
                  type: PLACE
                  phoneNumber: "+15558675311"
                  extension: "7781"
                  routingPrefix: "123"
                  esn: "1237781"
                - id: Y2lzY29zcGFyazovL3VzL1ZJUlRVQUxfTElORS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc3OGg=
                  firstName: Alice
                  lastName: Smith
                  type: VIRTUAL_LINE
                  phoneNumber: "+15558675311"
                  extension: "7782"
                  routingPrefix: "123"
                  esn: "1237781"
                huntGroupCallerIdForOutgoingCallsEnabled: true
              schema:
                $ref: '#/components/schemas/Get_Details_for_a_Hunt_Group_200_response'
          description: OK
      summary: Get Details for a Hunt Group
      tags: []
      x-accepts:
      - application/json
    put:
      description: |-
        Update the designated Hunt Group.

        Hunt groups can route incoming calls to a group of people, workspaces or virtual lines. You can even configure a pattern to route to a whole group.

        Updating a hunt group requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.
      operationId: Update a Hunt Group
      parameters:
      - description: Update the hunt group for this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzhmZjMwMjg5LWVhMzMtNDc1Ny1iMTBmLWQ2MWIyNzFhMDVlZg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Update settings for the hunt group with the matching ID.
        example: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
        explode: false
        in: path
        name: huntGroupId
        required: true
        schema:
          type: string
        style: simple
      - description: Update hunt group settings from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: "5714328359"
              phoneNumber: "5558675309"
              extension: "7781"
              firstName: Hakim
              lastName: Smith
              callPolicies:
                policy: UNIFORM
                waitingEnabled: false
                groupBusyEnabled: true
                allowMembersToControlGroupBusyEnabled: true
                noAnswer:
                  nextAgentEnabled: false
                  nextAgentRings: 5
                  forwardEnabled: false
                  numberOfRings: 0
                  destinationVoicemailEnabled: false
                busyRedirect:
                  enabled: true
                  destination: "7037344404"
                  destinationVoicemailEnabled: false
                businessContinuityRedirect:
                  enabled: true
                  destination: "7037344405"
                  destinationVoicemailEnabled: false
                businessContinuity:
                  enabled: false
                  destinationVoicemailEnabled: false
              agents:
              - id: Y2lzY29zcGFyazovL3VzL1BFT1BMRS82YTUwMDk1YS1mZjlmLTExZWItODA2NS04ZjhkOWIxNmIzOTQ
              - id: Y2lzY29zcGFyazovL3VzL1BMQUNFLzg0YjQ1OTIyLWZmOWYtMTFlYi1hNGI4LTMzNjI3YmVkNjdiNQ
              enabled: true
              huntGroupCallerIdForOutgoingCallsEnabled: true
            schema:
              $ref: '#/components/schemas/Update_a_Hunt_Group_request'
      responses:
        "204":
          content: {}
          description: No Content
      summary: Update a Hunt Group
      tags: []
      x-content-type: application/json
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/huntGroups/{huntGroupId}/callForwarding:
    get:
      description: |-
        Retrieve Call Forwarding settings for the designated Hunt Group including the list of call forwarding rules.

        Retrieving call forwarding settings for a hunt group requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.
      operationId: Get Call Forwarding Settings for a Hunt Group
      parameters:
      - description: Location in which this hunt group exists.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzMxMTYx
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Read the call forwarding settings for this hunt group.
        example: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
        explode: false
        in: path
        name: huntGroupId
        required: true
        schema:
          type: string
        style: simple
      - description: Retrieve hunt group forwarding settings from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                callForwarding:
                  always:
                    enabled: false
                    ringReminderEnabled: false
                    destinationVoicemailEnabled: false
                  selective:
                    enabled: false
                    destination: "00000"
                    ringReminderEnabled: false
                    destinationVoicemailEnabled: false
                  rules:
                  - id: Y2lzY29zcGFyazovL3VzL0NBTExfRk9SV0FSRElOR19TRUxFQ1RJVkVfUlVMRS9kR1Z6ZEZKMWJHVXg
                    name: testRule1
                    forwardTo: "65546"
                    enabled: true
                  - id: Y2lzY29zcGFyazovL3VzL0NBTExfRk9SV0FSRElOR19TRUxFQ1RJVkVfUlVMRS9kR1Z6ZEZKMWJHVTA
                    name: testRule4
                    forwardTo: "00000"
                    enabled: true
              schema:
                $ref: '#/components/schemas/Get_Call_Forwarding_Settings_for_a_Hunt_Group_200_response'
          description: OK
      summary: Get Call Forwarding Settings for a Hunt Group
      tags: []
      x-accepts:
      - application/json
    put:
      description: |-
        Update Call Forwarding settings for the designated Hunt Group.

        Updating call forwarding settings for a hunt group requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.
      operationId: Update Call Forwarding Settings for a Hunt Group
      parameters:
      - description: Location from which this hunt group exists.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzMxMTYx
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Update call forwarding settings for this hunt group.
        example: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
        explode: false
        in: path
        name: huntGroupId
        required: true
        schema:
          type: string
        style: simple
      - description: Update hunt group forwarding settings from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              callForwarding:
                always:
                  enabled: false
                  destination: ""
                selective:
                  enabled: true
                  destination: "35556"
                  destinationVoicemailEnabled: true
                rules:
                - id: Y2lzY29zcGFyazovL3VzL0NBTExfRk9SV0FSRElOR19TRUxFQ1RJVkVfUlVMRS9RbTlpVW1WdVlXMWw
                  enabled: true
                - id: Y2lzY29zcGFyazovL3VzL0NBTExfRk9SV0FSRElOR19TRUxFQ1RJVkVfUlVMRS9WMmhsYmxSdg
                  enabled: false
            schema:
              $ref: '#/components/schemas/Update_Call_Forwarding_Settings_for_a_Hunt_Group_request'
      responses:
        "204":
          content: {}
          description: No Content
      summary: Update Call Forwarding Settings for a Hunt Group
      tags: []
      x-content-type: application/json
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/huntGroups/{huntGroupId}/callForwarding/selectiveRules:
    post:
      description: |-
        Create a Selective Call Forwarding Rule for the designated Hunt Group.

        A selective call forwarding rule for a hunt group allows calls to be forwarded or not forwarded to the designated number, based on the defined criteria.

        Note that the list of existing call forward rules is available in the hunt group's call forwarding settings.

        Creating a selective call forwarding rule for a hunt group requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.

        **NOTE**: The Call Forwarding Rule ID will change upon modification of the Call Forwarding Rule name.
      operationId: Create a Selective Call Forwarding Rule for a Hunt Group
      parameters:
      - description: Location in which this hunt group exists.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzMxMTYx
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Create the rule for this hunt group.
        example: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
        explode: false
        in: path
        name: huntGroupId
        required: true
        schema:
          type: string
        style: simple
      - description: Create the hunt group rule for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: New Selective Rule
              holidaySchedule: HolidayScheduleOne
              businessSchedule: BusinessScheduleTwo
              callsFrom:
                selection: CUSTOM
                customNumbers:
                  privateNumberEnabled: true
                  unavailableNumberEnabled: true
                  numbers:
                  - "2025551212"
              callsTo:
                numbers: []
              forwardTo:
                selection: FORWARD_TO_DEFAULT_NUMBER
                phoneNumber: null
              enabled: true
            schema:
              $ref: '#/components/schemas/Create_a_Selective_Call_Forwarding_Rule_for_a_Hunt_Group_request'
      responses:
        "201":
          content:
            application/json:
              example:
                id: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
              schema:
                $ref: '#/components/schemas/Create_a_Hunt_Group_200_response'
          description: Created
      summary: Create a Selective Call Forwarding Rule for a Hunt Group
      tags: []
      x-content-type: application/json
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/huntGroups/{huntGroupId}/callForwarding/selectiveRules/{ruleId}:
    delete:
      description: |-
        Delete a Selective Call Forwarding Rule for the designated Hunt Group.

        A selective call forwarding rule for a hunt group allows calls to be forwarded or not forwarded to the designated number, based on the defined criteria.

        Note that the list of existing call forward rules is available in the hunt group's call forwarding settings.

        Deleting a selective call forwarding rule for a hunt group requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.

        **NOTE**: The Call Forwarding Rule ID will change upon modification of the Call Forwarding Rule name.
      operationId: Delete a Selective Call Forwarding Rule for a Hunt Group
      parameters:
      - description: Location in which this hunt group exists.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzMxMTYx
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Delete the rule for this hunt group.
        example: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
        explode: false
        in: path
        name: huntGroupId
        required: true
        schema:
          type: string
        style: simple
      - description: Hunt group rule you are deleting.
        example: Y2lzY29zcGFyazovL3VzL0NBTExfRk9SV0FSRElOR19TRUxFQ1RJVkVfUlVMRS9RbTlp
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - description: Delete hunt group rule from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Delete a Selective Call Forwarding Rule for a Hunt Group
      tags: []
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieve a Selective Call Forwarding Rule's settings for the designated Hunt Group.

        A selective call forwarding rule for a hunt group allows calls to be forwarded or not forwarded to the designated number, based on the defined criteria.

        Note that the list of existing call forward rules is available in the hunt group's call forwarding settings.

        Retrieving a selective call forwarding rule's settings for a hunt group requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.

        **NOTE**: The Call Forwarding Rule ID will change upon modification of the Call Forwarding Rule name.
      operationId: Get Selective Call Forwarding Rule for a Hunt Group
      parameters:
      - description: Location in which this hunt group exists.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzMxMTYx
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Retrieve settings for a rule for this hunt group.
        example: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
        explode: false
        in: path
        name: huntGroupId
        required: true
        schema:
          type: string
        style: simple
      - description: Hunt group rule you are retrieving settings for.
        example: Y2lzY29zcGFyazovL3VzL0NBTExfRk9SV0FSRElOR19TRUxFQ1RJVkVfUlVMRS9RbTlp
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - description: Retrieve hunt group rule settings for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                name: My Rule
                id: Y2lzY29zcGFyazovL3VzL0NBTExfRk9SV0FSRElOR19TRUxFQ1RJVkVfUlVMRS9WMmhsYmxSdg
                enabled: true
                businessSchedule: BusiSched1
                holidaySchedule: HolSched1
                forwardTo:
                  selection: FORWARD_TO_DEFAULT_NUMBER
                callsFrom:
                  selection: CUSTOM
                  customNumbers:
                    privateNumberEnabled: true
                    unavailableNumberEnabled: true
                    numbers:
                    - "2025551212"
                callsTo:
                  numbers: []
              schema:
                $ref: '#/components/schemas/Get_Selective_Call_Forwarding_Rule_for_a_Hunt_Group_200_response'
          description: OK
      summary: Get Selective Call Forwarding Rule for a Hunt Group
      tags: []
      x-accepts:
      - application/json
    put:
      description: |-
        Update a Selective Call Forwarding Rule's settings for the designated Hunt Group.

        A selective call forwarding rule for a hunt group allows calls to be forwarded or not forwarded to the designated number, based on the defined criteria.

        Note that the list of existing call forward rules is available in the hunt group's call forwarding settings.

        Updating a selective call forwarding rule's settings for a hunt group requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.

        **NOTE**: The Call Forwarding Rule ID will change upon modification of the Call Forwarding Rule name.
      operationId: Update a Selective Call Forwarding Rule for a Hunt Group
      parameters:
      - description: Location in which this hunt group exists.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzMxMTYx
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Update settings for a rule for this hunt group.
        example: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
        explode: false
        in: path
        name: huntGroupId
        required: true
        schema:
          type: string
        style: simple
      - description: Hunt group rule you are updating settings for.
        example: Y2lzY29zcGFyazovL3VzL0NBTExfRk9SV0FSRElOR19TRUxFQ1RJVkVfUlVMRS9RbTlp
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - description: Update hunt group rule settings for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: My Rule
              enabled: true
              businessSchedule: BusiSched1
              holidaySchedule: HolSched1
              forwardTo:
                selection: FORWARD_TO_DEFAULT_NUMBER
              callsFrom:
                selection: CUSTOM
                customNumbers:
                  privateNumberEnabled: true
                  unavailableNumberEnabled: true
                  numbers:
                  - "2025551212"
              callsTo:
                numbers: []
            schema:
              $ref: '#/components/schemas/ModifyForwardingRuleObject'
      responses:
        "201":
          content:
            application/json:
              example:
                id: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvYUhaaFpUTjJNRzh5YjBBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
              schema:
                $ref: '#/components/schemas/Update_a_Selective_Call_Forwarding_Rule_for_a_Hunt_Group_201_response'
          description: Created
      summary: Update a Selective Call Forwarding Rule for a Hunt Group
      tags: []
      x-content-type: application/json
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/huntGroups/availableNumbers:
    get:
      description: |-
        List the service and standard PSTN numbers that are available to be assigned as the hunt group's primary phone number.
        These numbers are associated with the location specified in the request URL, can be active or inactive, and are unassigned.

        The available numbers APIs help identify candidate numbers and their owning entities to simplify the assignment or association of these numbers to members or features.

        Retrieving this list requires a full, read-only or location administrator auth token with a scope of `spark-admin:telephony_config_read`.
      operationId: Get Hunt Group Primary Available Phone Numbers
      parameters:
      - description: Return the list of phone numbers for this location within the
          given organization. The maximum length is 36.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OL2YwYzRhOTcyLWIxNjQtMTFlZS05MWVhLWZiYjliMTkwMjI2Yg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: List numbers for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of phone numbers returned to this maximum count.
          The default is 2000.
        example: "5"
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: number
        style: form
      - description: Start at the zero-based offset in the list of matching phone
          numbers. The default is 0.
        example: "0"
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - description: Filter phone numbers based on the comma-separated list provided
          in the `phoneNumber` array.
        example: "+12056852221,+12056852222"
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                phoneNumbers:
                - phoneNumber: "+12056350001"
                  state: ACTIVE
                  isMainNumber: false
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: false
                  isServiceNumber: false
                - phoneNumber: "+12056350002"
                  state: ACTIVE
                  isMainNumber: true
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: false
                  isServiceNumber: true
                - phoneNumber: "+12056350003"
                  state: INACTIVE
                  isMainNumber: false
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: true
                  isServiceNumber: false
              schema:
                $ref: '#/components/schemas/Get_Single_Number_Reach_Primary_Available_Phone_Numbers_200_response'
          description: OK
      summary: Get Hunt Group Primary Available Phone Numbers
      tags: []
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/huntGroups/alternate/availableNumbers:
    get:
      description: |-
        List the service and standard PSTN numbers that are available to be assigned as the hunt group's alternate phone number.
        These numbers are associated with the location specified in the request URL, can be active or inactive, and are unassigned.

        The available numbers APIs help identify candidate numbers and their owning entities to simplify the assignment or association of these numbers to members or features.

        Retrieving this list requires a full, read-only or location administrator auth token with a scope of `spark-admin:telephony_config_read`.
      operationId: Get Hunt Group Alternate Available Phone Numbers
      parameters:
      - description: Return the list of phone numbers for this location within the
          given organization. The maximum length is 36.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OL2YwYzRhOTcyLWIxNjQtMTFlZS05MWVhLWZiYjliMTkwMjI2Yg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: List numbers for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of phone numbers returned to this maximum count.
          The default is 2000.
        example: "5"
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: number
        style: form
      - description: Start at the zero-based offset in the list of matching phone
          numbers. The default is 0.
        example: "0"
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - description: Filter phone numbers based on the comma-separated list provided
          in the `phoneNumber` array.
        example: "+12056852221,+12056852222"
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                phoneNumbers:
                - phoneNumber: "+12056350001"
                  state: ACTIVE
                  isMainNumber: false
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: false
                  isServiceNumber: false
                - phoneNumber: "+12056350002"
                  state: ACTIVE
                  isMainNumber: true
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: false
                  isServiceNumber: true
                - phoneNumber: "+12056350003"
                  state: INACTIVE
                  isMainNumber: false
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: true
                  isServiceNumber: false
              schema:
                $ref: '#/components/schemas/Get_Single_Number_Reach_Primary_Available_Phone_Numbers_200_response'
          description: OK
      summary: Get Hunt Group Alternate Available Phone Numbers
      tags: []
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/huntGroups/callForwarding/availableNumbers:
    get:
      description: |-
        List the service and standard PSTN numbers that are available to be assigned as the hunt group's call forward number.
        These numbers are associated with the location specified in the request URL, can be active or inactive, and are assigned to an owning entity.

        The available numbers APIs help identify candidate numbers and their owning entities to simplify the assignment or association of these numbers to members or features.

        Retrieving this list requires a full, read-only or location administrator auth token with a scope of `spark-admin:telephony_config_read`.
      operationId: Get Hunt Group Call Forward Available Phone Numbers
      parameters:
      - description: Return the list of phone numbers for this location within the
          given organization. The maximum length is 36.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OL2YwYzRhOTcyLWIxNjQtMTFlZS05MWVhLWZiYjliMTkwMjI2Yg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: List numbers for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of phone numbers returned to this maximum count.
          The default is 2000.
        example: "5"
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: number
        style: form
      - description: Start at the zero-based offset in the list of matching phone
          numbers. The default is 0.
        example: "0"
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - description: Filter phone numbers based on the comma-separated list provided
          in the `phoneNumber` array.
        example: "+12056852221,+12056852222"
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: Return the list of phone numbers that are owned by the given
          `ownerName`. Maximum length is 255.
        example: Test
        explode: true
        in: query
        name: ownerName
        required: false
        schema:
          type: string
        style: form
      - description: Returns the list of PSTN phone numbers with the given `extension`.
        example: "1234"
        explode: true
        in: query
        name: extension
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                phoneNumbers:
                - phoneNumber: "+12056350001"
                  state: ACTIVE
                  isMainNumber: false
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: false
                  isServiceNumber: false
                  owner:
                    id: Y2lzY29zcGFyazovL3VzL1BFT1BMRS9jODhiZGIwNC1jZjU5LTRjMjMtODQ4OC00NTNhOTE3ZDFlMjk
                    type: PEOPLE
                    firstName: Test
                    lastName: Person
                - phoneNumber: "+12056350002"
                  extension: "1235"
                  state: ACTIVE
                  isMainNumber: true
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: false
                  isServiceNumber: true
                  owner:
                    id: Y2lzY29zcGFyazovL3VybjpURUFNOnVzLWVhc3QtMV9pbnQxMy9QTEFDRS9lZjJkMjg3Ny1hYTY0LTRkMjQtYTFjNi02OWExMmNhMWI2YTA=
                    type: PLACE
                    displayName: TestWorkSpace
                - phoneNumber: "+12056350003"
                  extension: "1236"
                  state: INACTIVE
                  isMainNumber: false
                  telephonyType: PSTN_NUMBER
                  tollFreeNumber: true
                  isServiceNumber: false
                  owner:
                    id: Y2lzY29zcGFyazovL3VzL0NBTExfUVVFVUUvYm1kMmVIcHNabTgwWVVBMk5EazBNVEk1Tnk1cGJuUXhNQzVpWTJ4a0xuZGxZbVY0TG1OdmJRPT0
                    type: CALL_QUEUE
                    displayName: Test call queue
              schema:
                $ref: '#/components/schemas/Get_Hunt_Group_Call_Forward_Available_Phone_Numbers_200_response'
          description: OK
      summary: Get Hunt Group Call Forward Available Phone Numbers
      tags: []
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/callParks:
    get:
      description: |-
        List all Call Parks for the organization.

        Call Park allows call recipients to place a call on hold so that it can be retrieved from another device.

        Retrieving this list requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.

        **NOTE**: The Call Park ID will change upon modification of the Call Park name.
      operationId: Read the List of Call Parks
      parameters:
      - description: Return the list of call parks for this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzEyMzQ1
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: List call parks for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of call parks returned to this maximum count.
          Default is 2000.
        example: "5"
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: number
        style: form
      - description: Start at the zero-based offset in the list of matching call parks.
          Default is 0.
        example: "0"
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - description: "Sort the list of call parks by name, either ASC or DSC. Default\
          \ is ASC."
        example: ASC
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: Return the list of call parks that contains the given name. The
          maximum length is 80.
        example: technical support
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                callParks:
                - name: technical support - cards - customer 1
                  id: Y2lzY29zcGFyazovL3VzL0NBTExfUEFSSy9kR1ZqYUc1cFkyRnNJSE4xY0hCdmNuUWdMU0JqWVhKa2N5QXRJR04xYzNSdmJXVnlJREU9
                  locationName: Alaska
                  locationId: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzEyMzQ1
                - name: technical support - insurance - customer 1
                  id: Y2lzY29zcGFyazovL3VzL0NBTExfUEFSSy9kR1ZqYUc1cFkyRnNJSE4xY0hCdmNuUWdMU0JwYm5OMWNtRnVZMlVnTFNCamRYTjBiMjFsY2lBeA==
                  locationName: Alaska
                  locationId: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzEyMzQ1
              schema:
                $ref: '#/components/schemas/Read_the_List_of_Call_Parks_200_response'
          description: OK
      summary: Read the List of Call Parks
      tags: []
      x-accepts:
      - application/json
    post:
      description: |-
        Create new Call Parks for the given location.

        Call Park allows call recipients to place a call on hold so that it can be retrieved from another device.

        Creating a call park requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.

        **NOTE**: The Call Park ID will change upon modification of the Call Park name.
      operationId: Create a Call Park
      parameters:
      - description: Create the call park for this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzhmZjMwMjg5LWVhMzMtNDc1Ny1iMTBmLWQ2MWIyNzFhMDVlZg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Create the call park for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: technical support - insurance - customer 1
              recall:
                huntGroupId: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvZEdWamFHNXBZMkZzTFhOMWNIQnZjblF0TlRVMU9EWTNOVE13T1VCbmJXRnBiQzVqYjIwPQ
                option: ALERT_PARKING_USER_FIRST_THEN_HUNT_GROUP
              agents:
              - Y2lzY29zcGFyazovL3VzL1BFT1BMRS80NDVkMzMzMC1mNjE3LTExZWItOWQyZS01NzViODE3ZGE2NmE
              - Y2lzY29zcGFyazovL3VzL1BFT1BMRS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc1MWQ
              parkOnAgentsEnabled: false
              callParkExtensions:
              - Y3lzY29zcGFyazovL3VzL1BFT1BMRS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc2MWQ
            schema:
              $ref: '#/components/schemas/Create_a_Call_Park_request'
      responses:
        "201":
          content:
            application/json:
              example:
                id: Y2lzY29zcGFyazovL3VzL0NBTExfUEFSSy9kR1ZqYUc1cFkyRnNJSE4xY0hCdmNuUWdMU0JwYm5OMWNtRnVZMlVnTFNCamRYTjBiMjFsY2lBeA==
              schema:
                $ref: '#/components/schemas/Create_a_Call_Park_201_response'
          description: Created
      summary: Create a Call Park
      tags: []
      x-content-type: application/json
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/callParks/{callParkId}:
    delete:
      description: |-
        Delete the designated Call Park.

        Call Park allows call recipients to place a call on hold so that it can be retrieved from another device.

        Deleting a call park requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.

        **NOTE**: The Call Park ID will change upon modification of the Call Park name.
      operationId: Delete a Call Park
      parameters:
      - description: Location from which to delete a call park.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzEyMzQ1
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Delete the call park with the matching ID.
        example: Y2lzY29zcGFyazovL3VzL0NBTExfUEFSSy9kR1ZqYUc1cFkyRnNJSE4xY0hCdmNuUWdMU0JwYm5OMWNtRnVZMlVnTFNCamRYTjBiMjFsY2lBeA==
        explode: false
        in: path
        name: callParkId
        required: true
        schema:
          type: string
        style: simple
      - description: Delete the call park from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Delete a Call Park
      tags: []
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieve Call Park details.

        Call Park allows call recipients to place a call on hold so that it can be retrieved from another device.

        Retrieving call park details requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.

        **NOTE**: The Call Park ID will change upon modification of the Call Park name.
      operationId: Get Details for a Call Park
      parameters:
      - description: Retrieve settings for a call park in this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzhmZjMwMjg5LWVhMzMtNDc1Ny1iMTBmLWQ2MWIyNzFhMDVlZg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Retrieve settings for a call park with the matching ID.
        example: Y2lzY29zcGFyazovL3VzL0NBTExfUEFSSy9kR1ZqYUc1cFkyRnNJSE4xY0hCdmNuUWdMU0JwYm5OMWNtRnVZMlVnTFNCamRYTjBiMjFsY2lBeA==
        explode: false
        in: path
        name: callParkId
        required: true
        schema:
          type: string
        style: simple
      - description: Retrieve call park settings from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: Y2lzY29zcGFyazovL3VzL0NBTExfUEFSSy9kR1ZqYUc1cFkyRnNJSE4xY0hCdmNuUWdMU0JwYm5OMWNtRnVZMlVnTFNCamRYTjBiMjFsY2lBeA==
                name: technical support - insurance - customer 1
                recall:
                  huntGroupId: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvZEdWamFHNXBZMkZzTFhOMWNIQnZjblF0TlRVMU9EWTNOVE13T1VCbmJXRnBiQzVqYjIwPQ
                  huntGroupName: Technical Support Group - 5558675309
                  option: ALERT_PARKING_USER_FIRST_THEN_HUNT_GROUP
                agents:
                - id: Y2lzY29zcGFyazovL3VzL1BFT1BMRS80NDVkMzMzMC1mNjE3LTExZWItOWQyZS01NzViODE3ZGE2NmE
                  firstName: John
                  lastName: Brown
                  displayName: John Brown
                  type: PEOPLE
                  email: john.brown@example.com
                  numbers:
                  - external: "+19075552859"
                    extension: "8080"
                    routingPrefix: "1234"
                    esn: "12348080"
                    primary: "true"
                - id: Y2lzY29zcGFyazovL3VzL1BFT1BMRS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc1MWQ
                  firstName: John
                  lastName: Smith
                  displayName: John Smith
                  type: PEOPLE
                  email: john.smith@example.com
                  numbers:
                  - external: "+19075553859"
                    extension: "8081"
                    routingPrefix: "1234"
                    esn: "12348081"
                    primary: "true"
                parkOnAgentsEnabled: false
                callParkExtensions:
                - id: Y3lzY29zcGFyazovL3VzL1BFT1BMRS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc2MWQ
                  extension: "1415"
                  name: "14159265"
              schema:
                $ref: '#/components/schemas/Get_Details_for_a_Call_Park_200_response'
          description: OK
      summary: Get Details for a Call Park
      tags: []
      x-accepts:
      - application/json
    put:
      description: |-
        Update the designated Call Park.

        Call Park allows call recipients to place a call on hold so that it can be retrieved from another device.

        Updating a call park requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.

        **NOTE**: The Call Park ID will change upon modification of the Call Park name.
      operationId: Update a Call Park
      parameters:
      - description: Location in which this call park exists.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzhmZjMwMjg5LWVhMzMtNDc1Ny1iMTBmLWQ2MWIyNzFhMDVlZg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Update settings for a call park with the matching ID.
        example: Y2lzY29zcGFyazovL3VzL0NBTExfUEFSSy9kR1ZqYUc1cFkyRnNJSE4xY0hCdmNuUWdMU0JwYm5OMWNtRnVZMlVnTFNCamRYTjBiMjFsY2lBeA==
        explode: false
        in: path
        name: callParkId
        required: true
        schema:
          type: string
        style: simple
      - description: Update call park settings from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: technical support - insurance - customer 1
              recall:
                huntGroupId: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvZEdWamFHNXBZMkZzTFhOMWNIQnZjblF0TlRVMU9EWTNOVE13T1VCbmJXRnBiQzVqYjIwPQ
                option: ALERT_PARKING_USER_FIRST_THEN_HUNT_GROUP
              agents:
              - Y2lzY29zcGFyazovL3VzL1BFT1BMRS80NDVkMzMzMC1mNjE3LTExZWItOWQyZS01NzViODE3ZGE2NmE
              - Y2lzY29zcGFyazovL3VzL1BFT1BMRS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc1MWQ
              parkOnAgentsEnabled: false
              callParkExtensions:
              - Y3lzY29zcGFyazovL3VzL1BFT1BMRS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc2MWQ
            schema:
              $ref: '#/components/schemas/Update_a_Call_Park_request'
      responses:
        "200":
          content:
            application/json:
              example:
                id: Y2lzY29zcGFyazovL3VzL0NBTExfUEFSSy9kR1ZqYUc1cFkyRnNJSE4xY0hCdmNuUWdMU0JwYm5OMWNtRnVZMlVnTFNCamRYTjBiMjFsY2lBeA==
              schema:
                $ref: '#/components/schemas/Update_a_Call_Park_200_response'
          description: OK
      summary: Update a Call Park
      tags: []
      x-content-type: application/json
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/callParks/availableUsers:
    get:
      description: |-
        Retrieve available agents from call parks for a given location.

        Call Park allows call recipients to place a call on hold so that it can be retrieved from another device.

        Retrieving available agents from call parks requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.
      operationId: Get available agents from Call Parks
      parameters:
      - description: Return the available agents for this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzhmZjMwMjg5LWVhMzMtNDc1Ny1iMTBmLWQ2MWIyNzFhMDVlZg
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Return the available agents for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: Only return available agents from call parks with the matching
          name.
        example: technical support - insurance - customer 1
        explode: true
        in: query
        name: callParkName
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of available agents returned to this maximum
          count.
        example: "5"
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: number
        style: form
      - description: Start at the zero-based offset in the list of matching available
          agents.
        example: "0"
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - description: Only return available agents with the matching name.
        example: John
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Only return available agents with the matching primary number.
        example: "+19075552859"
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: "Order the available agents according to the designated fields.\
          \ Up to three vertical bar (|) separated sort order fields may be specified.\
          \ Available sort fields: fname, lname, number and extension. The maximum\
          \ supported sort order value is 3."
        example: lname|fname|extension
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                agents:
                - id: Y2lzY29zcGFyazovL3VzL1BFT1BMRS80NDVkMzMzMC1mNjE3LTExZWItOWQyZS01NzViODE3ZGE2NmE
                  firstName: John
                  lastName: Brown
                  displayName: John Brown
                  type: PEOPLE
                  email: john.brown@example.com
                  numbers:
                  - external: "+19075552859"
                    extension: "8080"
                    routingPrefix: "1234"
                    esn: "12348080"
                    primary: "true"
                - id: Y2lzY29zcGFyazovL3VzL1BFT1BMRS83MGY2MzYzMC1mZjlmLTExZWItODU5YS0xZjhiYjRjNzc1MWQ
                  firstName: John
                  lastName: Smith
                  displayName: John Smith
                  type: PEOPLE
                  email: john.smith@example.com
                  numbers:
                  - external: "+19075553859"
                    extension: "8081"
                    routingPrefix: "1234"
                    esn: "12348081"
                    primary: "true"
              schema:
                $ref: '#/components/schemas/Get_available_agents_from_Call_Parks_200_response'
          description: OK
      summary: Get available agents from Call Parks
      tags: []
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/callParks/availableRecallHuntGroups:
    get:
      description: |-
        Retrieve available recall hunt groups from call parks for a given location.

        Call Park allows call recipients to place a call on hold so that it can be retrieved from another device.

        Retrieving available recall hunt groups from call parks requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.
      operationId: Get available recall hunt groups from Call Parks
      parameters:
      - description: Return the available recall hunt groups for this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzEyMzQ1
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Return the available recall hunt groups for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of available recall hunt groups returned to
          this maximum count.
        example: "5"
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: number
        style: form
      - description: Start at the zero-based offset in the list of matching available
          recall hunt groups.
        example: "0"
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: number
        style: form
      - description: Only return available recall hunt groups with the matching name.
        example: Technical Support Group
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: "Order the available recall hunt groups according to the designated\
          \ fields. Available sort fields: lname."
        example: lname
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                huntGroups:
                - id: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvZEdWamFHNXBZMkZzTFhOMWNIQnZjblF0TlRVMU9EWTNOVE13T1VCbmJXRnBiQzVqYjIwPQ
                  name: Technical Support Group - 5558675309
                - id: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvZEdWamFHNXBZMkZzTFhOMWNIQnZjblF0TWpRMU5ESXpPVEF3TUVCbmJXRnBiQzVqYjIwPQ
                  name: Technical Support Group - 2454239000
              schema:
                $ref: '#/components/schemas/Get_available_recall_hunt_groups_from_Call_Parks_200_response'
          description: OK
      summary: Get available recall hunt groups from Call Parks
      tags: []
      x-accepts:
      - application/json
  /telephony/config/locations/{locationId}/callParks/settings:
    get:
      description: |-
        Retrieve Call Park Settings from call parks for a given location.

        Call Park allows call recipients to place a call on hold so that it can be retrieved from another device.

        Retrieving settings from call parks requires a full or read-only administrator or location administrator auth token with a scope of `spark-admin:telephony_config_read`.
      operationId: Get Call Park Settings
      parameters:
      - description: Return the call park settings for this location.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzEyMzQ1
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Return the call park settings for this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                callParkRecall:
                  huntGroupId: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvZEdWamFHNXBZMkZzTFhOMWNIQnZjblF0TlRVMU9EWTNOVE13T1VCbmJXRnBiQzVqYjIwPQ
                  huntGroupName: Technical Support Group - 5558675309
                  option: ALERT_HUNT_GROUP_ONLY
                callParkSettings:
                  ringPattern: NORMAL
                  recallTime: 45
                  huntWaitTime: 45
              schema:
                $ref: '#/components/schemas/Get_Call_Park_Settings_200_response'
          description: OK
      summary: Get Call Park Settings
      tags: []
      x-accepts:
      - application/json
    put:
      description: |-
        Update Call Park settings for the designated location.

        Call Park allows call recipients to place a call on hold so that it can be retrieved from another device.

        Updating call park settings requires a full administrator or location administrator auth token with a scope of `spark-admin:telephony_config_write`.
      operationId: Update Call Park settings
      parameters:
      - description: Location for which call park settings will be updated.
        example: Y2lzY29zcGFyazovL3VzL0xPQ0FUSU9OLzEyMzQ1
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Update call park settings from this organization.
        example: Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE
        explode: true
        in: query
        name: orgId
        required: false
        schema:
          type: string
        style: form
      - description: e.g. Bearer YOUR_AUTHORIZATION_TOKEN
        example: Bearer YOUR_AUTHORIZATION_TOKEN
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              callParkRecall:
                huntGroupId: Y2lzY29zcGFyazovL3VzL0hVTlRfR1JPVVAvZEdWamFHNXBZMkZzTFhOMWNIQnZjblF0TlRVMU9EWTNOVE13T1VCbmJXRnBiQzVqYjIwPQ
                huntGroupName: Technical Support Group - 5558675309
                option: ALERT_HUNT_GROUP_ONLY
              callParkSettings:
                ringPattern: NORMAL
                recallTime: 45
                huntWaitTime: 45
            schema:
              $ref: '#/components/schemas/Update_Call_Park_settings_request'
[...]
